# Backend Render URL (Make sure to include /api at the end)
REACT_APP_SERVER_DOMAIN=https://your-backend-service.onrender.com/api

# (Optional) Socket URL (If different from the backend root URL)
# REACT_APP_SOCKET_URL=https://your-backend-service.onrender.com

# Cloudinary Configuration
REACT_APP_CLOUDINARY_BASE_URL=https://api.cloudinary.com/v1_1/davfqvfzx/image/upload
REACT_APP_CLOUDINARY_CLOUD_NAME=davfqvfzx
REACT_APP_CLOUDINARY_PRESET=doctorApp

# Formspree Form ID
REACT_FORMIK_SECRET=TAR
